/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}



button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  width: 96px;
  height: 40px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: #4E75FF;
  border: 0;
}

button:hover {
  background: #6C8CFF;
}

button:disabled {
  background: #4E75FF; 
  opacity: 0.5; 
  cursor: default; 
}

.taskListBlock{
  display: flex;
}

.tasklist {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.tasklist > li {
  background-color: lightgreen;
  color: green;
  display: block;
  font-size: 24px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
}

.tasklist > li :hover{
  color: black;
}

.timer-task {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select-and-start {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
}

.select-and-start > button {
  display: block;
}

#datetime-picker {
  display: block;
  width: 130px;
  font-size: 16px;
}

.timer {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 12px
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 32px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
}

.form > label{
  display: flex;
  flex-direction: column;
}

.form > label > input {
  font-size: 16px;
}

.form > button {
  width: auto;
}